@media (max-width: 375px){
    .card{
        flex-direction: column-reverse;
        justify-content: space-between;
        width: 90vw;
        height: 90vh;
    }

    .card .description{
        width: auto;
        height: 70%;
        text-align: center;
        padding: 1.5rem;
    }

    .card .stats{
        flex-direction: column;
    }

    .card .stats .companies, .card .stats .templates{
        margin-bottom: 2rem;
    }

    .card .card-img{
        height: 30%;
        width: 100%;
        border-radius: 9px 9px 0 0;
    }
}